{% extends 'lms/base.html' %}
{% load static %}
{% block title %} About our LMS {% endblock %}
{% block fav_icon %} <link rel="shortcut icon" href="{% static 'lms/favicon.jpg' %}" /> {% endblock fav_icon %}
{% block body %}
<br>
<blockquote class="blockquote text-right">
    <p class="mb-0">I wanted to sail when I was in grammar school and well remember memorizing the names of the sails from the Merriam-Webster's ponderous dictionary in the library. Now I am actually at sea - as a passenger, of course, but at sea nevertheless - and bound for Ecuador.</p>
    <footer class="blockquote-footer">Jim Elliot</footer>
</blockquote>
<hr/>
This is a Library Management System developed in Django.
{% endblock %}