{% extends 'lms/base.html' %}

{% load static %}
{% block title %} Add Books {% endblock %}
{% block fav_icon %} <link rel="shortcut icon" href="{% static 'lms/favicon.jpg' %}" /> {% endblock fav_icon %}

{% block body %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <br>

    <h3>Enter information below to add a book to the Library</h3>
    <label>title</label>
    <input name="title" type="text" value="{{ errors.data.title }}" class="form-control" placeholder="title">
    {% if errors.title %} <span class="lms-error">{{ errors.title }}</span> {% endif %}
  </div>
  <div class="form-group">
    <label>author</label>
    <input name="author" type="text" value="{{ errors.data.author }}" class="form-control" placeholder="author name">
    {% if errors.author %} <span class="lms-error">{{ errors.author }}</span> {% endif %}
  </div>

    <div class="form-group">
    <label>description</label>
    <textarea name="description" class="form-control" rows="3">{{ errors.data.description }}</textarea>
    {% if errors.description %} <span class="lms-error">{{ errors.description }}</span> {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
