{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.css' %}">
    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

    <title>{% block title %} Empty Title  {% endblock title %} </title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div> <!-- container 1 -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">ONE TOWN LIBRARY</h1>

            <div class="text-center">
                <img src="{% static 'lms/library.jpg' %}" alt="Great Panda" class="img img-responsive rounded img-circle"> <br>
            </div>

            <h1>Listed Books</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Auther</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Speak</td>
                        <td>Laurie Halse Anderson</td>
                        <td>"Speak up for yourself—we want to know what you have to say."</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>The Hunger Games</td>
                        <td>Suzanne Collins</td>
                        <td>Could you survive on your own, in the wild, with everyone out to make sure you don't live to see the morning?

                            In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and one girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV. Sixteen-year-old Katniss Everdeen, who lives alone with her mother and younger sister, regards it as a death sentence when she is forced to represent her district in the Games. But Katniss has been close to dead before - and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weigh survival against humanity and life against love.</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-lg">Primary</button>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap-4/js/bootstrap.js' %}"></script>
</body>
</html>