{% extends 'lms/base.html' %}
{% load static %}

{% block title %} Home of LMS {% endblock title %}

{% block body %}

<div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">ONE TOWN LIBRARY</h1>

            <div class="text-center">
                <img src="{% static 'lms/library.jpg' %}" alt="Great Panda" class="img img-responsive rounded img-circle"> <br>
            </div>
            <br>
            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="{% url 'book-list' %}"> Go to book list </a>
            </div>
        </div>
    </div>
{% endblock body %}
