{% extends 'lms/base.html' %}

{% block title %} Member List {% endblock title %}

{% block body %}

<div class="row">
        <div class="col-sm-12">
            <h1>Listed Member</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Taken Books</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for member in members %}
                    <tr>
                        <th scope="row">{{ member.id }}</th>
                        <td>{{ member.name }}</td>
                        <td>{{ member.token_books }}</td>
                        <td>{{ member.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock body %}